body {
    background: url(./img/bakgrund.png);
    height: 100vh;
    
    margin: 0; /* Återställ standardmarginalen */
    padding: 0; 
    background-attachment: fixed;
    font-family: "komet", sans-serif;
font-weight: 400;
font-style: normal;

}

.currentPoint{
    width: 40vw;
    /* Bredden baserad på 10% av visningsbredden */
    height: 5vh;

    /* Höjden baserad på 5% av visningshöjden */
    background-color: white;
    border: 1px solid black;
    font-size: 6vw;
    /* Textstorleken baserad på 2% av visningsbredden */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2vh;
    right: 4vw;
    

}

@media screen and (min-width: 750px) {
    .currentPoint {
        width: 20vh;
        font-size: 30px; /* Ange här din maxhöjd för fontstorleken */
    }
}
.deniedDiv {
    width: 100vw;
    height: 50vh;
    background-repeat: no-repeat;
    position: absolute;
    max-width: 700px;
    top: 0;
    left: 0;
    right: 0; /* Centrerar elementet horisontellt när det är mindre än viewportens bredd */
    margin: auto; /* Centrerar elementet horisontellt när det är mindre än viewportens bredd */
    z-index: 999;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start; /* Centrerar innehållet vertikalt */
    background-size: cover;
}

.errorText {
    font-size: 5vw;
    position: absolute;
    color: black;
    margin-bottom: 10px;
    width: 65vw;
    text-align: center;
    top: 5vh   ;
    left: 55%;
    transform: translateX(-50%);
   /* font-family: sans-serif;*/
    letter-spacing: 0.3vw;
    z-index: 999;
}


.locker {
    position: absolute;
    top: 5vh;
    bottom: 10vh;
    left: 3vw;
    right: 3vw;
    width: calc(100% - 6vw);
    height: calc(100% - 25vh);
 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}
.cancel {
    font-style: italic;
    font-size: smaller;
    /* Andra önskade stilar */
}


.lockerContainer{
    height: 1px;

}

.row{
 position: relative;
 height: 14.5vh;
 margin-left: 25%; 
 margin-right: 25%;
 bottom: 42vh;

}
    /* Justerar det första radavståndet */
   
   
    
    img.iconInLocker {
        /* Stilar för dina bilder */
        position: absolute;
        height: 12vh;
        z-index: 999;
       
    }
    
    img.iconInLocker:first-child {
        left: -15%; /* Placera första bilden 10% från vänsterkanten */
    }
    
    img.iconInLocker:last-child {
       right: -15%; /* Placera andra bilden 30% från vänsterkanten */
    }
    @media screen and (min-width: 700px) {
        img.iconInLocker:first-child {
            left: -5%; /* Placera första bilden 10% från vänsterkanten */
        }
    
        img.iconInLocker:last-child {
            right: -5%; /* Placera andra bilden 10% från högerkanten */
        }
    }

    @media screen and (min-width: 1100px) {
        img.iconInLocker:first-child {
            left: 10%; /* Placera första bilden 10% från vänsterkanten */
        }
    
        img.iconInLocker:last-child {
            right: 10%; /* Placera andra bilden 10% från högerkanten */
        }
    }

#karta {
    width: 100vw;
    height: 50vh;
}

#antalMeter {
    background-color: white;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border: 1px solid black;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;

}

.nmrOfpresents {
    width: 7vw;
    height: 7vw; /* Använder samma värde som width för att göra den proportionell och se rund ut */
    max-width: 10vw;
    max-height: 5vh;
    border-radius: 50%; /* Gör den rund */
    background-color: white;
    border: 1px solid black;
    font-size: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    right: -8vw;
    bottom: 0.5vh;
}



.newLockerPrice {
   
        width: 7vw;
        height: 7vw; /* Använder samma värde som width för att göra den proportionell och se rund ut */
        max-width: 10vw;
        max-height: 5vh;
        border-radius: 50%; /* Gör den rund */
        background-color: white;
        border: 1px solid black;
        font-size: 4vw;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
        left: 8vw;
        bottom: 0.5vh;
    
    
}


div.text {
    top: 50%;
    left: 50%;
    background-color: white;
    width: fit-content;
    height: fit-content;
    margin-top: 120px;
    text-align: center;
    margin-left: 40px;
    border: 1px solid black;
    font-size: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    background-color: white;
    width: 200px;
    height: 80px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    font-size: 20px;
    cursor: pointer;
}

div.paketText {
   background-color: white;
    border: 1px solid black;
    padding: 10px;

    top: 20vh;
    /* Avståndet från toppen baserat på 20% av visningshöjden */
    left: 50%;
    transform: translateX(-50%);
    /* Centrerar elementet horisontellt */
    text-align: center;
    font-size: 3vw;
    /* Textstorleken baserad på 3% av visningsbredden */
    max-width: 80vw;
    /* Maxbredd på 90% av visningsbredden */
}


img.priceIcon {
    position: absolute;

}
.errorDiv {
    width: 100vw;
    height: 50vh;
    background-repeat: no-repeat;
    position: absolute;
    max-width: 700px;
    top: 0;
    left: 0;
    right: 0; /* Centrerar elementet horisontellt när det är mindre än viewportens bredd */
    margin: auto; /* Centrerar elementet horisontellt när det är mindre än viewportens bredd */
    z-index: 999;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start; /* Centrerar innehållet vertikalt */
    background-size: cover;
    }




.yesBtn{
    width: 80vw;
    height: 5vh;
    font-size: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
   /* font-family: sans-serif;*/
    text-align: center;
    bottom: 2vh;
    letter-spacing: 0.3vw;
    
    
    
}

.infoDiv{
    background-color: blue;
    width: 100px;
    height: 100px;
}
.loadingTheMap {
    position: absolute;
    top: 10vh; 
    left: 50%; /* Sätt vänsterkanten till 50% av förälderns bredd */
    transform: translateX(-50%); 
    margin-left: -20vw;
    border: 16px solid #f3f3f3; /* Grå rand */
    border-top: 16px solid blue; /* Blå rand */
    border-radius: 50%; /* Gör cirkeln rund */

    width: 40vw;
    height: 40vw;
    max-width: 80vw; /* Maximal bredd på 80% av förälderns bredd */
    max-height: 80vw; 
    animation: spin 2s linear infinite; /* Använd CSS-animation för att få ikonen att snurra */
}

@media screen and (min-width: 850px) {
    .loadingTheMap {
        position: absolute;
        
        left: 60%; /* Sätt vänsterkanten till 50% av förälderns bredd */
        transform: translateX(-50%); 
        width: 20vw; /* Justera bredden för mindre skärmar */
        height: 20vw; /* Justera höjden för mindre skärmar */
      
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); } /* Börja från 0 grader rotation */
    100% { transform: rotate(360deg); } /* Rotera ett helt varv (360 grader) */
}

.loadingApp{
    position: fixed;
    top:40vh;
    left: 29vw;
    border: 16px solid #f3f3f3; /* Grå rand */
    border-top: 16px solid blue; /* Blå rand */
    border-radius: 50%; /* Gör cirkeln rund */
    width: 40vw;
    height: 40vw;
    animation: spinapp 2s linear infinite; /* Använd CSS-animation för att få ikonen att snurra */
}


@keyframes spinapp {
    0% { transform: rotate(0deg); } /* Börja från 0 grader rotation */
    100% { transform: rotate(360deg); } /* Rotera ett helt varv (360 grader) */
}

.loading {
    position: fixed;
    top: 40vh; 
    left: 29vw;

    border: 16px solid #f3f3f3; /* Grå rand */
    border-top: 16px solid blue; /* Blå rand */
    border-radius: 50%; /* Gör cirkeln rund */
    width: 40vw;
    height: 40vw;
    animation: spin 1s linear infinite; /* Använd CSS-animation för att få ikonen att snurra */
}



    

.priceIcon {
    width: 200px;
    height: 200px;
}

@keyframes jumpAnimation {
    0%, 100% {
      transform: translateY(0);
    }
    25%, 75% {
      transform: translateY(-5px);
    }
  }
  



.totalMetersWalked {
    width: 36%;
    height: 50px;
    top: 70vh;
    padding: 10px;
    right: 50%;
    padding: 10px;
    border: 1px solid black;
    font-size: 4vw, 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 10%;
    background-color: white;
    margin: 10px;

}

div.newPositionBtn {
    top: 53vh;
    background-color: white;
    width: 70vw;
box-shadow: black 3px 3px 3px;
    /* Använd 30% av viewport-bredden som bredd */
    height: 10vh;
    padding: 10px;
    position: absolute;
    text-align: center;
    border: 1px solid black;
    font-size: 140%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    left: 50%;
    transform: translateX(-50%);
}


.score {
    width: 36%;
    margin: 10px;
    height: 50px;
    top: 70vh;
    padding: 10px;
    left: 50%;
    padding: 10px;
    border: 1px solid black;
    font-size: 4vw, 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 10%;
    background-color: white;
}




div.paketText {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 25px;
    width: 400px;
}

img.priceIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#score {
    width: 40%;
    height: 50px;
    padding: 10px;
    border: 1px solid black;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 60%;
    left: 50%;
    background-color: white;
}

.iconName {
    font-style: italic;
}

.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    bottom: 10px; /* Placera längst ner med en marginal på 10px */
    left: 0; /* Se till att det är justerat till vänster */
    right: 0; /* Se till att det är justerat till höger */
    padding: 0 10px; /* Lägg till lite utfyllnad på vardera sida för att skapa marginaler */
}

.priceBtn,
.lockerBtn,
.mapBtn {
    background-repeat: no-repeat;
    background-size: contain;
    width: 15vw; /* Anpassa bredden efter 20% av sidans bredd */
    height: 15vw; /* Anpassa höjden efter 20% av sidans bredd */
    max-height: 120px;
}


.lockerBtn {
    background-image: url("./img/litenlocker-09.png");
    margin-left: 2vw;
    margin-bottom: 1vh;
}

.mapBtn {
    background-image: url("./img/mapAsset 27@2x.png");
    margin-left: 2vw;
    margin-bottom: 1vh;
}

.priceBtn {
    background-image: url("./img/bigline-07.png");
    margin-left: 2vw;
    margin-bottom: 1vh;
}



.priceIcon {
    position: absolute;
    background-repeat: no-repeat;
    left: 50%;
    top: 50%;
    
    transform: translate(-50%, -50%);
    width: calc(80% - 6vw);
    /* Justerad bredd för att inkludera utrymmet till vänster och höger */
    height: calc(70% - 6vh);
    height: auto;
    /* Anpassa höjden automatiskt baserat på bildens proportioner */
   max-width: 500px;
    /* Begränsa bredden till att vara högst 100% av förälderens bredd */
   
    /* Begränsa höjden till att vara högst 100% av förälderens höjd */
    object-fit: contain;
    /* Behåll bildens proportionella aspekt och passa inom div-elementet */
}


img.paket {
    position: absolute;
    background-repeat: no-repeat;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100vw - 6vw);
    max-width: 600px;
    height: auto;
    object-fit: contain;
}

@keyframes shake {
    0% { transform: translate(-50%, -50%) translateY(0) rotate(0deg); }
    20% { transform: translate(-50%, -50%) translateY(-40px) rotate(0deg); }
    40% { transform: translate(-50%, -50%) translateY(0) rotate(0deg); }
    60% { transform: translate(-50%, -50%) translateY(-20px) rotate(0deg); }
    80% { transform: translate(-50%, -50%) translateY(0) rotate(0deg); }
    100% { transform: translate(-50%, -50%) translateY(0) rotate(0deg); }
}


#shake.priceIcon{
    position: absolute;
    left: 50%;
    top: 50%;
    animation: shake 1.5s ease infinite; /* Använd bara skakningsanimationen */
    animation-delay: 0.5s; /* Lägg till en paus på 3 sekunder mellan varje iteration */
}


#shake.paket {
    position: absolute;
    left: 50%;
    top: 50%;
    animation: shake 1.5s ease infinite; /* Använd bara skakningsanimationen */
    animation-delay: 2s; /* Lägg till en paus på 3 sekunder mellan varje iteration */
}