body {
    background: url(./img/bakgrund.png);
}

.priceScore {
    width: 40vw; /* Bredden baserad på 10% av visningsbredden */
    height: 5vh; /* Höjden baserad på 5% av visningshöjden */
    background-color: white;
    border: 1px solid black;
    font-size: 3vw; /* Textstorleken baserad på 2% av visningsbredden */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2vh;
    right: 4vw;
}



#karta {
    width: 100vw;
    height: 50vh;
    margin-left: -7px;
    margin-top: -7px;
}

#antalMeter {
    background-color: white;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border: 1px solid black;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;

}

.nmrOfpresents {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid black;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    margin-left: 40%;
    margin-bottom: 80%;
    justify-content: center;
    text-align: center;

}

.newLockerPrice {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid black;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    margin-left: 40%;
    margin-bottom: 80%;
    justify-content: center;
    text-align: center;
}


div.text {
    top: 50%;
    left: 50%;
    background-color: white;
    width: fit-content;
    height: fit-content;
    margin-top: 120px;
    text-align: center;
    margin-left: 40px;
    border: 1px solid black;
    font-size: 25px;
    cursor: pointer;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    background-color: white;
    width: 200px;
    height: 80px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    font-size: 20px;
    cursor: pointer;
    font-weight: 500;
}








div.paketText {
    position: absolute;
    top: 20vh; /* Avståndet från toppen baserat på 20% av visningshöjden */
    left: 50%;
    transform: translateX(-50%); /* Centrerar elementet horisontellt */
    text-align: center;
    font-size: 3vw; /* Textstorleken baserad på 3% av visningsbredden */
    font-weight: 500;
    max-width: 90vw; /* Maxbredd på 90% av visningsbredden */
}


img.priceIcon {
    position: absolute;

}




.priceIcon {
    width: 200px;
    height: 200px;
}

.totalMetersWalked {
    width: 36%;
    height: 50px;
    top: 70vh;
    padding: 10px;
    right: 50%;
    padding: 10px;
    border: 1px solid black;
    font-size: 4vw, 4vh;
        display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 10%;
    background-color: white;
    margin: 10px;

}
div.newPositionBtn {
    top: 53vh;
    background-color: white;
    width: 70vw; /* Använd 30% av viewport-bredden som bredd */
    height: 10vh;
    padding: 10px;
    position: absolute;
    text-align: center;
    border: 1px solid black;
    font-size: 140%;
    cursor: pointer;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    left: 50%;
    transform: translateX(-50%);
}


.score {
    width: 36%;
    margin: 10px;
    height: 50px;
    top: 70vh;
    padding: 10px;
    left: 50%;
    padding: 10px;
    border: 1px solid black;
    font-size: 4vw, 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 10%;
    background-color: white;
}




div.paketText {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    width: 400px;
}

img.priceIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#score {
    width: 40%;
    height: 50px;
    padding: 10px;
    border: 1px solid black;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 60%;
    left: 50%;
    background-color: white;
}


.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 20px); /* Ta bort 20px från sidans bredd för att undvika överflödiga mellanrum */
   
}

.priceBtn, .lockerBtn, .mapBtn {
    background-repeat: no-repeat;
    background-size: contain; /* Säkerställ att hela ikonen visas */
    width: 15vw; /* Anpassa bredden efter 20% av sidans bredd */
    height: 15vw; /* Anpassa höjden efter 20% av sidans bredd */
    margin-bottom: 10px;
}

.lockerBtn {
    background-image: url("./img/mapAsset 31@2x.png");
}

.mapBtn {
    background-image: url("./img/mapAsset 27@2x.png");
}

.priceBtn {
    background-image: url("./img/mapAsset 30@2x.png");
}

.paket {
    position: absolute;
    background-repeat: no-repeat;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(150% - 6vw); /* Justerad bredd för att inkludera utrymmet till vänster och höger */
    
    height: auto; /* Anpassa höjden automatiskt baserat på bildens proportioner */
  /* Begränsa höjden till att vara högst 100% av förälderens höjd */
    object-fit: contain; /* Behåll bildens proportionella aspekt och passa inom div-elementet */
}

.priceIcon {
    position: absolute;
    background-repeat: no-repeat;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(70% - 6vw); /* Justerad bredd för att inkludera utrymmet till vänster och höger */
    height: calc(70% - 6vh);
    height: auto; /* Anpassa höjden automatiskt baserat på bildens proportioner */
    max-width: 100%; /* Begränsa bredden till att vara högst 100% av förälderens bredd */
    max-height: 100%; /* Begränsa höjden till att vara högst 100% av förälderens höjd */
    object-fit: contain; /* Behåll bildens proportionella aspekt och passa inom div-elementet */
}


.locker {
    position: absolute;
    top: 5vh;
    bottom: 10vh;
    left: 3vw; /* Utrymme till vänster om bilden */
    right: 3vw; /* Utrymme till höger om bilden */
   
    width: calc(100% - 6vw); /* Justerad bredd för att inkludera utrymmet till vänster och höger */
    background-repeat: no-repeat;
    background-image: url("/img/mapAsset 35@2x.png");
  
    background-position: center; /* Centrerar bilden både vertikalt och horisontellt */
    background-size: contain; /* Säkerställer att hela bilden visas */
  
}